<%- partial('_partial/head') %>
	  <div class="container">
		  <div class="row">
			  <div class="span7 offset1">
        <%- body %>
			  </div>
			  <div class="span3">
				  <div align="center">
					  <a href="/"><img src="/img/me.jpg" alt="That's Me!"></a>
					  <h4 class="muted">Avinash Kundaliya</h4>
					  <div class="links">
						  <a href="/about.html"> About </a> | <a href="http://twitter.com/hardfire">Rant</a> | <a href="https://github.com/hardfire">Code</a>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </body>
</html>
