    <%- partial('_partial/head') %>
    <%- partial('_partial/footer') %>
      <div class="row">
        <div class="span7 offset1">
          <%- body %>
        </div>
      </div>
  </body>
</html>
