<%- partial('_partial/head') %>
<div class="container">
  <div class="row">
    <div class="span7 offset1">
      <%- body %>
    </div>
    <div class="span3">
      <div align="center">
        <a href="/"><img src="/img/me.jpg" alt="That's Me!"></a>
        <h4 class="muted"><a href="/about.html">Avinash Kundaliya</a></h4>
        <div class="links">
          ^^ This guy, <a href="https://twitter.com/hardfire" rel="me">Tweets</a> and <a href="https://facebook.com/hardfire" rel="me">Likes</a> random stuff on the internet. Sometimes when bored, he pushes some code on this <a href="https://github.com/hardfire" rel="me">github</a> thingy. He check's his <a href="mailto:avinash@avinash.com.np" rel="me">email</a> more often than other stream-like applications.
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
