{{ partial "header.html" }}

{{ $lastDate := "" }}
<ul class="article_list">
  {{ range (where .Pages "Section" "post").ByDate.Reverse }}
    {{ if ne $lastDate (.Date.Format "Jan 2006") }}
      {{ $lastDate = .Date.Format "Jan 2006" }}
      <div class="date_title">{{ .Date.Format "Jan 2006" }}</div>
    {{ end }}
    <li class="article_title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    </li>
  {{ end }}
</ul>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script async src=https://ahoy.plantura.garden/tracker.js data-bisl-server=https://ahoy.plantura.garden data-bisl-domain-id=0fae1d90-f40e-11ea-b666-cf2f9ef79fab></script>
{{ partial "footer.html" }}
