body{ padding-top:20px; border-top:5px solid #777; font-family: 'Open Sans', sans-serif; }
.post-list li{ border-bottom:1px solid #eee; padding:4px 0px; font-size:16px; }
.post-list span{ color:#aaa; font-size:12px; padding-right:10px; text-transform:uppercase; }
p{line-height:20px;}
.meta{ margin-bottom:15px; } 
.meta p{ margin:0px; }
.meta h1{ margin:0px; font-weight:normal; }
.content{color:#333;font-family:Georgia;font-size:20px;}
.content h2,.content h3,.content h4{font-family: 'Open Sans', sans-serif;font-weight:normal;margin:30px 0 15px 0;}
.content p{line-height:32px; margin-bottom:15px;}
.content img{margin:10px auto; border-bottom:3px solid #5af;}
#tag_list{border-top:1px solid #eee; margin-top:15px; text-align:right; }
#tag_list li{display:inline-block; margin-left:15px;}
#tag_list li a{color:#999; font-size:10px; text-transform:uppercase;}
.content li{padding:6px;line-height:32px;}
.gist{font-size:14px;}
