<!doctype html>
<html>
  <head>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WTTZLMX');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ if .IsPage }} {{ .Page.Title }} {{ else }} Ramblings and JPT Tech {{end}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!--<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro" rel="stylesheet">-->
    <link rel="me" href="mailto:avinash@avinash.com.np" />
    <link rel="pingback" href="https://webmention.io/avinash.com.np/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/avinash.com.np/webmention" />
    <link rel="stylesheet" href="/styles/style.css">
    {{ if .IsPage }}
      <meta property="og:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}" />
      {{ with .Params.images }}
        {{ range first 1 . }}
      <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
      {{ end }}
    {{ else }}
      <meta property="og:title" content="Ramblings and JPT Tech Stuff" />
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}" />

    <!-- Google Analytics -->
    <!--<script type="text/javascript">-->
      <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
        <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
        <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
      <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

      <!--ga('create', 'UA-36082124-1', 'auto');-->
      <!--ga('send', 'pageview');-->

    <!--</script>-->
    <!-- End Google Analytics -->



    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTTZLMX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="row">
        <div class="span7 offset1">
          <a href="/">Home</a><a href="/about/">About</a><a href="https://bm.avinash.com.np">Stream</a>
        </div>
      </div>
    </header>
